#copyright-bar {
    height: 40px;
    width: calc(100% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    font-size: 1.1em;
    background-color: #141623;
}

.copyright-bar b {
    color: #75652E;
}